.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url('/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.img-icon {
  max-width: 6vh;
  height: auto;
}