.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  min-height: 16rem;
  background-image: url('https://kapham2.github.io/shifting-gears-app-frontend/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.img-icon {
  max-width: 1.5rem;
  height: auto;
}

.nav-link:hover {
  cursor: pointer;
}

.img-cyclist {
  max-width: 2.5rem;
  /* transform: rotate(-15deg); */
  transform-origin: bottom center;
  position: relative;
  z-index: 1;
}

.hide-p {
  visibility: hidden;
}

.shift-btn {
  touch-action: manipulation;
}